{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="aboutt w-100" id="about" style="font-family:Georgia, 'Times New Roman', Times, serif ;">
    <div class="row w-100">
        <div class="abi col-lg-6">
            <h1>About Us</h1>
            <h6>GMRL Labs: Tripunithura's hub for affordable Health Check Ups</h6>
            <h6>with cutting-edge analyzers, prioritizing your well-being.</h6>
        </div>
        <div class="abc col-lg-6">
            <img src="../static/images/about1.jpg" alt="">
        </div>
    </div>
</section>


<section class="about-us" style="font-family:Georgia, 'Times New Roman', Times, serif ; height: fit-content;">
    <div class="row rw5">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-5">
            <h6>Welcome to Best Laboratory in Kochi, your distinguished destination for comprehensive and affordable health <span class="chc">check-up packages </span> in Thrippunithura. Step into a realm of healthcare excellence marked by precision, affordability, and unwavering commitment to your well-being.</h6>
            <h6>At GMRL, our pride lies in our dedication to excellence. Our cutting-edge, fully automated analyzers undergo daily verification against Biorad USA Quality Controls, ensuring accurate and reliable diagnostic results. Your health is paramount, and we strive to provide trustworthy and precise information for your healthcare journey.</h6>
            <h6>Our dedicated professionals are ready to guide you through every step of your health assessment journey. With a mission to deliver the highest standard of care and convenience, we prioritize your well-being above all else. GMRL Laboratories is not just a healthcare provider; we are your trusted partner on the path to a healthier and happier life.</h6>
            <h6>Whether you seek routine health check-ups or specialized diagnostics, our facility is equipped with the latest technology to meet your diverse healthcare needs. Our commitment extends beyond diagnostics; we empower you with knowledge and support for proactive health management.</h6>
            <h6>Experience peace of mind entrusting your health to GMRL Laboratories. In our facility, precision meets affordability, and your well-being takes center stage. Your journey to optimal health begins here, the Best laboratory in Kochi. Choose GMRL Laboratories for a comprehensive, personalized, and empowering healthcare experience. Your health is our priority.</h6>
        </div>
        <div class="col-lg-4">
            <img class="aimg" src="../static/images/welcome-image.jpg" width="480px" height="400px" alt="">
        </div>
        <div class="col-lg-1">

        </div>
    </div>
</section>



<section class="footer" style="font-family:Georgia, 'Times New Roman', Times, serif ; height: fit-content;">
    <div class="rw2 row mx-auto"   >
        <div class="col9 col-lg-8">
            <div class="row">
                <div class="col-lg-2" >
                    <img class="mt-4 ms-3" src="../static/images/make-appointment.png" alt="">
                </div>
                <div class="col-lg-7 mt-4" >
                    <h8 class="ms-0"> Make an Appointment</h8>
                    <h8 class="ms-0">Call +91 81388 62626 or click Book Now to secure your appointment.</h8>
                </div>
                <div class="col-lg-3">
                    <a href="{% url 'lab:appointment' %}">
                        <button type="button" class="btn4 mt-5 btn btn-dark ">Book Now</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col91 col-lg-4">
            <div class="row col9rw">
                <div class="col-lg-3">
                    <img class="mt-4" src="../static/images/openinh-hours-logo.png" alt="">
                </div>
                <div class="col-lg-9">
                    <h7 class="mt-3">Opening Hours</h7>
                    <h7>Mon - Sat : 6:30pm to 6:00pm</h7>
                    <h7>Sun : 6:30am - 12:30pm</h7>
                </div>
            </div>
        </div>
    </div>

    <div class="rw3 row">
        <div class="col-lg-2">
            <img src="../static/images/gmrl-footer-logo.svg" alt="">
        </div>
        <div class="col-lg-2">
            <h4 class="mb-4">Quick Links</h4>
            <a href="{% url 'lab:home' %}">
                <h6>Home</h6>
            </a>
            <a href="{% url 'lab:about' %}">
                <h6>About Us</h6>
            </a>
            <a href="{% url 'lab:package' %}">
                <h6>Packages</h6>
            </a>
            <a href="{% url 'lab:test' %}">
                <h6>Tests</h6>
            </a>
            <a href="{% url 'lab:gallery' %}">
                <h6>Gallery</h6>
            </a>
            <a href="{% url 'lab:blog' %}">
                <h6>Blog</h6>
            </a>
            <a href="">
            <h6>Testimonials</h6>
            </a>
            <a href="{% url 'lab:branches' %}">
                <h6>Branches</h6>
            </a>
            <a href="{% url 'lab:contacts' %}">
                <h6>Contact Us</h6>
            </a>
            <a href="{% url 'lab:privacy' %}">
                <h6>Privacy Policy</h6>
            </a>
            <a href="{% url 'lab:term' %}">
                <h6>Terms & Conditions</h6>
            </a>
        </div>
        <div class="col-lg-2">
            <h4 class="mb-4">Departments</h4>
            <a href="{% url 'lab:depart' %}">
                <h6>Pathology</h6>
            </a>
            <a href="{% url 'lab:depart' %}">
                <h6>Biochemistry</h6>
            </a>
            <a href="{% url 'lab:depart' %}">
                <h6>Microbiology</h6>
            </a>
            <a href="{% url 'lab:depart' %}">
                <h6>Serology</h6>
            </a>
            <a href="{% url 'lab:depart' %}">
                <h6>Immunology</h6>
            </a>
            <a href="{% url 'lab:depart' %}">
                <h6>Radiology</h6>
            </a>
            <a href="{% url 'lab:depart' %}">
                <h6>Molecular Biology</h6>
            </a>
        </div>
        <div class="col-lg-3">
            <h4 class="mb-4">Our Packages</h4>
            <a href="http://127.0.0.1:8005/packages/1   ">
                <h6>Executive Package</h6>
            </a>
            <a href="http://127.0.0.1:8005/packages/2">
                <h6>Ayush General</h6>
            </a>
            <a href="http://127.0.0.1:8005/packages/3">
                <h6>Ayush Silver Plan</h6>
            </a>
            <a href="http://127.0.0.1:8005/packages/4">
                <h6>Ayush Diabetic & Kidney Care</h6>
            </a>
            <a href="http://127.0.0.1:8005/packages/5">
                <h6>Ayush Gold</h6>
            </a>
            <a href="http://127.0.0.1:8005/packages/6">
                <h6>Advanced Cardiac Risk Cover Package</h6>
            </a>

        </div>
        <div class="col-lg-3">
            <h4 class="mb-4">Get In Touch</h4>
            <h6>GMRL Laboratories Chambakkara, Ernakulam, Ernakulam - 682011</h6>
            <h6>+91 81388 62626</h6>
            <h6>0484 0000 0000</h6>
            <h6>info@gmrllabs.com</h6>
            <div class="rw4 row">
                <div class="col-lg-3">
                    <div class="fce">
                        <i class='bx bxl-facebook' style='color:#ffffff'  ></i>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="twi">
                    <i class='bx bxl-twitter' style="color: #ffffff;"></i>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="lik">
                    <i class='bx bxl-linkedin' style="color: #ffffff;"></i>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="inst">
                    <i class='bx bxl-instagram' style="color: #ffffff;" ></i>
                    </div>  
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}










